*.pyc
.history.*
.idea/
*.npy
*.txt
*.par
*.json
*.png
*.jpg
*.bz2
*.ply
*.so
*.swp
*.npz
*.m~
*.wav
*.dylib
.DS_Store
*.html
*.exr
*.pth
*.pdf
*.ipynb
utils/rasterizer/rasterizer.cpp
calibration/.ipynb_checkpoints/
datasets/__pycache__/
datasets/issia/__pycache__/
datasets/youtube/__pycache__/
datasets/youtube/box_analysis/__pycache__/
figures/
optimization/__pycache__/
soccerdepth/__pycache__/
soccerdepth/layers/__pycache__/
soccerdepth/models/__pycache__/
runs/
utils/__pycache__/
utils/nms/__pycache__/
utils/nms/nms/__pycache__/
utils/rasterizer/__init__.py
utils/rasterizer/__pycache__/
utils/rasterizer/build/
